@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
    width: 100%;
    height: 90vh;
}
.d-block {
    display: block;
}

.body {
    background-color: var(--white);
}

.text-menu {
    color: var(--gray);
}

.text-hover,.text-menu:hover {
    font-weight: 700;
}

p .header{
    font-weight: 700;
}

.content {
    width: 35%;
    margin-bottom:20%;
}

.text-content {
    color: var(--gray);
}

.border-line {
    border-color: var(--gray);
    border-radius: 15px;
}

.btn-content {
    font-weight: 700;
    background-color: var(--black);
    border-width: 1px;
    color: var(--white);
}

.box {
    margin: 100px 0 0 300px;
}


.img-content {
    max-width: 100%;
    width: 65%;
}

.navbar-nav {
    text-align: right;
    margin-right: 20px;
}

.nav-links {
    position: absolute;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    display: block;
    width: 100%;
    background-color: #333;
    left: 0px;
  }

.img-box {
    position:absolute;
    bottom: 0;
  }

.bottom-10 {
    margin-top: 100px;
}

.start-90 {
    left: 90% !important;
}

.start-80 {
    left: 80% !important;
}